button {
	border-radius: 10px;
	border: none;
	box-shadow: 0 0 20px white;

	&.default {background-color: blue;}
	&.danger {background-color: red;}
	&.warning {background-color: yellow;}
	&.success {background-color: green;}
}
