button {
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 20px white; }
  button.default {
    background-color: blue; }
  button.danger {
    background-color: red; }
  button.warning {
    background-color: yellow; }
  button.success {
    background-color: green; }
