.research-bg {
	background-color: blue;
	transition: background-color 1s ease-in-out;
}

.design-bg {
	background-color: red;
	transition: background-color 1s ease-in-out;
}

.landing-bg {
	background-color: green;
	transition: background-color 1s ease-in-out;
}

.about-bg {
	background-color: pink;
	transition: background-color 1s ease-in-out;
}