.brand {
	font-weight: 700;
	background-color: black;
	padding: 0 1.25em;
	a {
	font-family: 'Righteous', cursive;
	font-size: 2em;
	display: flex;
	text-decoration: none;
	justify-content: center;
 	align-items: center;
	height: 100%;
	color: white;
	transition: all .5s;
	&:hover {
		color: blue;
	}
	}
}