.nav-item-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: .5em 0; }
  .nav-item-container li {
    margin: .25em .5em;
    padding: .25em; }
  .nav-item-container li a {
    font-family: 'Righteous', cursive;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s; }
    .nav-item-container li a:hover {
      color: blue; }

@media (min-width: 700px) {
  .nav-item-container li {
    margin: .5em 1em;
    padding: .5em; }
  .nav-item-container li a {
    font-family: 'Righteous', cursive;
    font-size: 1.5em; } }
