/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,151cea+100&0+0,0.65+100 */
.navigation-container {
  background-color: white; }
  .navigation-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0; }
