//.navigation-container {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,151cea+100&0+0,0.65+100 */
//		background: -moz-linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(21,28,234,0.65) 100%); /* FF3.6-15 */
//		background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(21,28,234,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
//		background: linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(21,28,234,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6151cea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

.navigation-container {
	background-color: white;
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		padding: 0;
		margin: 0;
	}
}
