.landing-container {
	color: black;
	//padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landing-content {
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 75vh;
}
