@import './public/styles/index';

.App {
	width: 100%;
	min-height: 100vh;
}

.page-container {
	min-height: 85vh;
	min-width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;

}

.primary-container {
	display: flex;
	//background-color: white;
	background-color: rgba(255,255,255,0.45);
	max-width: 1250px;
	width: 100%;
	flex-direction: column;
}

.content-container {
	display: flex;
	flex-direction: column;
	background-color: skyblue;
	height: 100%;
}

.subnav-container .active {
	background-color: blue;
	color: white;
	transition: background-color .4s;
}
